
html {
    font-size: 16px; 
}

@media (max-width: 1200px) {
    html {
        font-size: 14px;
    }
}

@media (max-width: 992px) {
    html {
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 10px;
    }
}

@media (max-width: 576px) {
    html {
        font-size: 8px;
    }
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: sans-serif;
    position: relative;
    background-image: url("assets/bodybg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1.25rem;
}
@media (max-width: 800px) {
    body {
        overflow-y: hidden;
        overflow-x: auto;
    }
}


.book {
    position: relative;
    width: 33.125rem;
    height: 43.75rem;
    transition: transform 0.5s;
}

.paper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    perspective: 93.75rem;
    border-radius: 1.25rem;
}
img{
    border-radius: 1.25rem;
}
.front,
.back {
    border-radius: 1.25rem;
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform 0.5s;
}

.front {
    z-index: 1;
    backface-visibility: hidden;
    border-left: 0.1875rem solid powderblue;
    box-shadow: 0.625rem 1.25rem 1.875rem rgba(0, 0, 0, 0.1);
}

.back {
    z-index: 0;
}

.front-content,
.back-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-content {
    transform: rotateY(180deg);
    display: block;
    justify-items: center;
    margin-top: 1.25rem;
}
.back-content ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: small;
    font-weight: bold;
}

.back-content ul li a{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.back-content hr{
    width: 31.25rem;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    color: black;
}
.back-content p {
    text-align: center;
    max-width: 85%;
    line-height: 1.6;
}

.front-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.front-content img {
    width: 32.8125rem;
    height: 60%;
    display: block;
}

.edu {
    display: flex;
    align-items: center;
}

.edu img {
    width: 16.25rem;
    height: 17.5rem;
    display: block;
}

.edu .text {
    display: flex;
    flex-direction: column;
}
.edu ul{
    list-style-type: none;
    margin-right: 0.625rem;
}

.flipped .front,
.flipped .back {
    transform: rotateY(-180deg);
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 0.625rem;
    transition: transform 1s;
    z-index: 10;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#prev-btn {
    left: 15%;
}

#next-btn {
    right: 15%;
}

button:focus {
    outline: none;
}

button:hover i {
    color: #636363;
}

i {
    font-size: 3.125rem;
    color: rgb(65, 73, 222);
}

#p1 { z-index: 3; }
#p2 { z-index: 2; }
#p3 { z-index: 1; }

#f1{
    background-image: url("assets/Me.jpg");
    background-size: cover;
    border-radius: 1.25rem;
}

.ex h1 {
    width: 100%;
    text-align: center;
    margin-top: 0.625rem;
    font-size: 1.25rem;
}
.ex img{
    margin-top: 0.625rem;
    width: 100%;
    height: 17.5rem;
    display: block;
}
.job {
    display: flex;
    justify-content: space-between;
    gap: 15.625rem;
}

.job .date {
    margin-top: 0.625rem;
    font-size: 0.625rem;
}
.ex h4{
    position: absolute;
    right: 83%;
    display: flex;
    justify-content: space-between;
}
.experience-list {
    margin: 0.625rem 0;
    list-style-position: inside;
    line-height: 1.8;   
    flex-direction: column;
}

.experience-list li {
    list-style-type: none;
    margin-bottom: 0.5rem;
    font-size: 0.875rem;
    color: #333;
}
.ex2 img{
    margin-top: 0.625rem;
    width: 100%;
    height: 18.75rem;
    display: block;
}
.ex2 h1 {
    width: 100%;
    text-align: center;
    margin-top: 0.625rem;
    margin-right: 21.875rem;
    font-size: 1.25rem;
}
.ex2 h4 {
    margin-right: auto; 
}
.ex2, .ex, .ex3 {
    padding-left: 0.625rem;
}

.ex3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding-left: 0.625rem;
}

.ex3 img {
    width: 100%;
    height: 17.5rem;
    display : block;
    object-fit: cover;
    margin-bottom: 0.9375rem;
    position: relative;
}

.ex3 h1 {
    font-size: 1.25rem;
    margin-bottom: 0.3125rem
}

.ex3 .job {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0.3125rem
}

.ex3 h4 {
    margin-bottom: 0.625rem;
}

.ex3 .experience-list {
    margin-bottom: 0.9375rem;
    line-height: 1.6;
}

.ex3 .skills {
    width: 100%;
    margin-top: 0.625rem;
}

.ex3 .skills h1 {
    margin-bottom: 0.3125rem
}

.ex3 .skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.625rem;
    list-style: none;
    padding: 0;
    justify-content: center;
}

.ex3 .skills-list li {
    background-color: #e0e0e0;
    padding: 0.3125rem 0.625rem;
    border-radius: 0.3125rem;
    font-size: 0.625rem;
}

.edu table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 0.625rem;
    border: 0.1875rem solid #ddd;
}

.edu table td {
    padding: 0.3125rem 0.625rem;
    font-size: 0.875rem;
}

.text{
    margin-left: 1.25rem;
}

